/*
AMARELO: #ffcc00
AZUL: rgb( 4, 73, 172)
/*---------------FORMATAÇÃO PADRÃO---------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
body{
    background-color: rgb( 4, 73, 172);
}
.cabecalho, .rodape, section{
    padding: 0px 150px;
}
a{
    color: black;
    text-decoration: none;
}
.negrito{
    font-weight: 700;
}
/*---------------CABEÇALHO E RODAPÉ---------------*/
.cabecalho, .rodape{
    font-weight: 600;
}
.cabecalho{
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc00; 
}
.link-logo, .logo-cabecalho{
    height: 100%;
}
.nav-cabecalho a{
    margin-left: 10px;
    padding: 10px;
}
.nav-cabecalho a:hover{
    background-color: rgb( 4, 73, 172);
    color: white;
}
.rodape{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    background-color: #ffcc00; 
}
.sobre-rodape, .contato-rodape{
    width: 50%;
}
.contato-rodape{
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.mapa{
    width: 35%;
}

/*---------------INICIO---------------*/
.section-inicio{
    margin-top: 100px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 20px black;
}
.titulo-inicio{
    font-size: 40px;
    width: 100%;
    margin-bottom: 100px;
}
.conteudo-lado-a-lado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.texto-inicio{
    width: 35%;
    font-size: 18px;
    height: 100%;
}
#img-comoajudar{
    width: 350px;
    height: 300px;
}
.section-inicio > button{
    font-size: 16px;
    font-weight: 900;
    background-color: white;
    display: block;
    margin: 40px auto;
    box-shadow: 4px 4px 5px 1px black;
}
.section-inicio > button:hover{
    cursor: pointer;
    background-color: rgb(199, 199, 199);
}
.section-inicio > button > a{
    color: black;
    display: block;
    padding: 15px;
}
#img-chico, #img-dog, #img-conta, #img-rifa{
    width: 400px;
    height: 500px;
}
.linha-inicio{
    margin: 100px 0;
}
/*---------------ADOTE---------------*/
#section-animais{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
}
#titulo-adote{
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 4px 4px 2px black;
    margin-bottom: 100px;
}
.card-animal{
    background-color: white;
    width: 30%;
    margin-bottom: 50px;
    box-shadow: 1px 1px 7px 2px black;
}
.foto-animal{
    display: block;
    width: 100%;
    height: 450px;
    background-image: center;
    object-fit: cover;
    margin-bottom: 20px;
}
.card-animal > h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 23px;
}
.card-animal > ul{
    padding: 0px 10%;
    margin-bottom: 15px;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-animal > ul > li{
    margin-left: 5px;
    padding: 5px;
    list-style: none;
    margin-bottom: 5px;
}
.tag-femea{
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(86deg, rgba(238,96,255,1) 0%, rgba(126,0,128,1) 100%);
}
.tag-macho{
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(86deg, rgba(86,136,255,1) 0%, rgba(0,40,136,1) 100%);
}
.card-animal > p{
    padding: 0px 5%;
    text-align: justify;
}
.card-animal > button{
    font-size: 16px;
    font-weight: 900;
    background-color: rgb( 4, 73, 172);
    display: block;
    margin: 40px auto;
    box-shadow: 4px 4px 5px 1px black;
}
.card-animal > button:hover{
    cursor: pointer;
}
.card-animal > button a{
    color: white;
    display: block;
    padding: 15px;
    text-shadow: 2px 2px 2px black;
}

/*---------------NOS APOIE---------------*/
#section-doacao, #section-adocao{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0 150px 0;
    color: white;
    text-shadow: 1px 1px 30px black;
    justify-content: space-between;
}
#titulo-doacao, #titulo-adocao{
    margin-bottom: 100px;
    font-size: 40px;
    width: 100%;
    text-align: center;
}
#texto-doacao, #texto-adocao{
    padding-top: 50px;
    width: 40%;
    font-size: 18px;
}
#texto-doacao > p, #texto-adocao > p{
    text-align: justify;
    margin-bottom: 10px;
}
#texto-doacao > h2, #texto-adocao > h2{
    margin-bottom: 20px;
    font-size: 30px;
}
#area-pix, #apresentacao-adocao{
    width: 50%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}
#qr-code{
    width: 40%;
    margin-bottom: 25px;
}

#abrigo-img{
    width: 70%;
    margin-bottom: 25px;
    box-shadow: 2px 2px 20px 3px black;
}
#section-adocao > div > p> a{
    color: white;
}

/*---------------SOBRE NÓS---------------*/
.mt-100{
    margin-top: 100px;
}
.titulo-sobrenos{
    font-size: 40px;
    text-align: center;        
    color: white;
    margin-bottom: 40px;
}
.section-sobrenos{
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px 10px black;
    margin-bottom: 150px;
}
.section-sobrenos > p{
    font-size: 18px;
}
.section-sobrenos > img{
    width: 1200px;
    height: 550px;
}

/*---------------FALE CONOSCO---------------*/
#section-contato{
    color:white;
    text-shadow: 2px 2px 10px black;
    margin-top: 100px;
}
.titulo-contato{
    font-size: 30px;
    margin-bottom: 25px;
}
#section-contato > p{
    font-size: 18px;
}
.contato-social{
    margin-bottom: 100px;
}
.contato-social > ul > li{
    list-style: none;
}
.link-social{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}
.contato-logo{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/*---------------CADASTRO---------------*/
#pag-cadastro{
    color: #333;
}
#cabecalho-h1{
    color: #0055a5;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
}
.form-container {
    background-color: #ffcc00;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: white;
}
.form-container h2 {
    color: #0055a5;
    text-align: center;
}
.form-container label {
    display: block;
    margin: 10px 0 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.76);
}

.form-container input, .form-container select, .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container input[type="submit"] {
    background-color: #0055a5;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.form-container input[type="submit"]:hover {
    background-color: #003f7f;
}

/*

        @media (max-width: 768px) {
            .header h1 {
                font-size: 24px;
            }

            .form-container {
                padding: 20px;
                margin: 20px;
            }

            .form-container h2 {
                font-size: 24px;
            }

            .form-container input,
            .form-container select,
            .form-container textarea {
                font-size: 14px;
            }

            .form-container input[type="submit"] {
                font-size: 16px;
                padding: 12px;
            }

            .footer {
                padding: 20px 10px;
            }

            .footer p {
                font-size: 16px;
            }
        }

       
        @media (max-width: 480px) {
            .header h1 {
                font-size: 20px;
                margin-left: 10px;
            }

            .form-container {
                max-width: 100%;
                padding: 15px;
                margin: 10px;
            }

            .form-container h2 {
                font-size: 22px;
            }

            .form-container input,
            .form-container select,
            .form-container textarea {
                font-size: 12px;
            }

            .form-container input[type="submit"] {
                font-size: 14px;
                padding: 10px;
            }

            .footer {
                padding: 15px 5px;
            }

            .footer p {
                font-size: 14px;
            }
        }
*/
